<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Attendance</title>
</head>
<body>
    <form method="post">
        <input type="text" name="lectureName" placeholder="Lecture Name" id=""><br>
        <input type="number" name="minutes" placeholder="Duration in minutes" id=""><br>
        <input type="submit" value="Create"><br>
    </form>
    <br>
    <a href="/">Back</a>
</body>
</html>

