<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New course</title>
</head>
<body>
    <h1>Create New Course</h1>
    <form action="" method="post">
        <input type="text" name="courseCode" placeholder="courseCode" id="">
        <br>
        <input type="text" name="courseName" placeholder="courseName" id="">
        <br>
        <input type="submit" value="Create">
    </form>
    <a href="/">Go Back</a>
</body>
</html>